<div class="registration-area">
<h2 class="sign-up-in">新規登録</h2>



<%= form_for(resource, as: resource_name, url: registration_path(resource_name), class: "registration-form") do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field">
    <%= f.label :メールアドレス %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email",class:"input-default" %>
  </div>

  <div class="field">
    <%= f.label :名前 %><br />
    <%= f.text_field :name, autofocus: true, autocomplete: "name",class:"input-default" %>
  </div>

  <div class="field">
    <%= f.label :パスワード（６文字以上） %>
    <%# <% if @minimum_password_length %> 
    <%# <em>(<%= @minimum_password_length characters minimum%></em> 
    <%# <%end%><br />      <%= f.password_field :password, autocomplete: "new-password",class:"input-default" %> 
  </div>

  <div class="field">
    <%= f.label :パスワード（確認） %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password",class:"input-default" %>
  </div>

  

  <div class="field nothing">
    <%= f.label :得点（0と記入） %><br />
    <%= f.number_field :pre_score, autofocus: true,class:"input-default", :value =>0 %>
  </div>

  <div class="field nothing">
    <%= f.label :得点（0と記入） %><br />
    <%= f.number_field :input_words, autofocus: true,class:"input-default", :value =>0 %>
  </div>
  <div class="field nothing">
    <%= f.label :得点（0と記入） %><br />
    <%= f.number_field :preposition_score, autofocus: true,class:"input-default", :value =>0 %>
  </div>
  <div class="field nothing">
    <%= f.label :得点（0と記入） %><br />
    <%= f.number_field :unexp_score, autofocus: true,class:"input-default", :value =>0 %>
  </div>
  <div class="field nothing">
    <%= f.label :得点（0と記入）%><br />
    <%= f.number_field :similar_score, autofocus: true,class:"input-default", :value =>0 %>
  </div> 

  <div class="actions">
    <%= f.submit "登録する",class:"submit-btn" %>
  </div>

<% end %>
</div>
