<header>
  <div class="header-left">
    <% if user_signed_in? %>
      <div class="logout-btn">
        <%= link_to('ログアウト',destroy_user_session_path,class:"btn",method: :delete) %>
      </div>
      <div class="mypage-btn">
        <%= link_to("#{current_user.name}のページへ",user_path(current_user.id),class:"btn") %>
      </div>
    <% else %>
      <div class="login-btn">
        <%= link_to('ログインする',new_user_session_path,class:"btn") %>
      </div>
      <div class="new-regist-btn">
        <%= link_to('新規登録',new_user_registration_path,class:"btn") %>
      </div>
    <% end %>
    <div class="mypage-btn"></div>
  </div> 
  <div class ="header-right">
    <p class="first-p">skillup</p>
    <p class="second-p">英単語学習サイト</p>
  </div>
</header>
<% if flash[:notice] %>
  <p class="flash"><%= flash[:notice] %></p>
<% end %>
<div class="introduce">
  <h1>サイト紹介</h1>
  <span class="first-text text">このサイトでは効率的に英単語を学習することを目標とします。</span>
  <span class="second-text text">そのために英単語を品詞や、単語の特徴に注目してその種類ごとに学習していきます。</span>
  <span class="third-text text">以上より単語を覚えることはもちろん、未知の単語にであってもその単語の特徴に注目し推測できるようになる可能性を高めます。</span>
</div>
<h2 class="index">各項目</h2>
<div class="lists-area">
  <ul class="lists">
    <li class="list signal">暗記編</li>
    <li class="list"><%= link_to("接頭辞(pre,proなど)(18単語)",study_skills_path,class:"link") %></li>
    <li class="list"><%= link_to("前置詞（24単語）",exp_preposition_skills_path,class:"link") %></li>
    <li class="list"><%= link_to("反対語暗記シート",opposite_sheet_skills_path,class:"link") %></li>
    <li class="list"><%= link_to("類義語暗記シート",opposite_sheet_skills_path,class:"link") %></li>
    <li class="list"><%= link_to("前置詞",exp_preposition_skills_path,class:"link") %></li>
  </ul>
  <ul class="lists">
    <li class="list signal">テスト編</li>
    <li class="list"><%= link_to("接頭辞(pre,proなど)（18問）",test_skills_path,class:"link") %></li>
    <li class="list"><%= link_to("前置詞（24問）",preposition_skills_path,class:"link") %></li>
    <li class="list"><%= link_to("英作文で使えるフレーズ（19問）",test2_skills_path,class:"link") %></li>
    <li class="list"><%= link_to("意外な意味を持つ英単語（46問）",test3_skills_path,class:"link") %></li>
    <li class="list"><%= link_to("基本動詞（18問）",test2_skills_path,class:"link") %></li>
  </ul>
  <ul class="lists">
    <li class="list signal">資料</li>
    <li class="list"><%= link_to("前置詞イメージ",preposition_img_skills_path,class:"link") %></li>
    <li class="list"><%= link_to("反対語",opposite_skills_path,class:"link") %></li>
    <li class="list"><%= link_to("類義語",preposition_img_skills_path,class:"link") %></li>
    <li class="list"><%= link_to("意外な意味を持つ英単語",preposition_img_skills_path,class:"link") %></li>
    <li class="list"><%= link_to("ランキング",rank_skills_path,class:"link") %></li>
  </ul>
</div>





