<header>
  <div class="header-left">
    <% if user_signed_in? %>
      <div class="logout-btn">
        <%= link_to('ログアウト',destroy_user_session_path,class:"btn",method: :delete) %>
      </div>
      <div class="mypage-btn">
        <%= link_to("#{current_user.name}のページへ",user_path(current_user.id),class:"btn") %>
      </div>
    <% else %>
      <div class="login-btn">
        <%= link_to('ログインする',new_user_session_path,class:"btn") %>
      </div>
      <div class="new-regist-btn">
        <%= link_to('新規登録',new_user_registration_path,class:"btn") %>
      </div>
    <% end %>
    <div class="mypage-btn"></div>
  </div> 
  <div class ="header-right">
    <div class="image-space">
      <%= image_tag("watermark.png",class:"image") %>
    </div>
    <p>Skillup</p>
  </div>
</header>
<% if flash[:notice] %>
  <p class="flash"><%= flash[:notice] %></p>
<% end %>
<div class="title">
  <h1>英単語学習ページ</h1>
</div>
<div><%= image_tag("study.png",class:"study-image") %></div>


<div class="lists">
  <ul>
    <div class="item-name">
      各項目    
    </div>
    <li class="list">
      <%= link_to('ランキングを見る',rank_skills_path,class:"btn")%>
    </li>
    <li class="list">
      <%= link_to('初級編：英単語を暗記する(接頭辞pre-,per-,pro-,pur-)',study_skills_path,class:"btn") %>
    </li>
    <li class="list">
      <%= link_to('初級編：英単語テストをする(接頭辞pre-,per-,pro-,pur-)',test_skills_path,class:"btn") %>
    </li>
    <li class="list">
      <%= link_to('初級編：基本動詞',test2_skills_path,class:"btn")%>
    </li>
    <li class="list">
      <%= link_to('初級編：前置詞',preposition_skills_path,class:"btn")%>
    </li>
    <li class="list">
      <%= link_to('前置詞解説編',exp_preposition_skills_path,class:"btn")%>
    </li>
    <li class="list">
      <%= link_to('前置詞イメージ編',preposition_img_skills_path,class:"btn")%>
    </li>
    <li class="list">
      <%= link_to('初級編：類義語',test2_skills_path,class:"btn")%>
    </li>
    <li class="list">
      <%= link_to('初級編：反対語',test2_skills_path,class:"btn")%>
    </li>
  </ul>
</div>

