<header>
  <div class="header-left">
    <% if user_signed_in? %>
      <div class="logout-btn">
        <%= link_to('ログアウト',destroy_user_session_path,class:"btn",method: :delete) %>
      </div>
      <div class="mypage-btn">
        <%= link_to("#{current_user.name}のページへ",user_path(current_user.id),class:"btn") %>
      </div>
    <% else %>
      <div class="login-btn">
        <%= link_to('ログインする',new_user_session_path,class:"btn") %>
      </div>
      <div class="new-regist-btn">
        <%= link_to('新規登録',new_user_registration_path,class:"btn") %>
      </div>
    <% end %>
    <div class="mypage-btn"></div>
  </div> 
  <div class ="header-right">
    <div class="image-space">
      <%= image_tag("watermark.png",class:"image") %>
    </div>
    <p>Skillup</p>
  </div>
</header>
<div class="title">
  <h1>英単語学習ページ</h1>
</div>
<%= image_tag("study.png",class:"study-image") %>
<div class="lists">
  <ul>
    <li class="list">
      <%= link_to('英単語を暗記する(接頭辞pre-,per-,pro-,pur-)',study_skills_path,class:"btn") %>
    </li>
    <li class="list">
      <%= link_to('英単語テストをする',test_skills_path,class:"btn") %>
    </li>
    <li class="list">
      <%= link_to('ランキングを見る',"#",class:"btn")%>
    </li>
    <li class="list">
      <%= link_to('英単語を暗記する(接頭辞com-,con-,co-)',"#",class:"btn")%>
    </li>
  </ul>
</div>

