
<div class="upper-content">
  <%= link_to('トップページに戻る',root_path,class:"top-btn") %>
</div>
<div class="title-2">
  前置詞テスト
</div>

<div class="preposition-area">
  <p id ="ask-preposition"></p>
  <input type="text" id ="preposition">
  <button id="preposition-button">OK</button>
</div>
<p class="preposition-text">問題文に合うニュアンスの前置詞を記述しよう</p>
<div id="preposition-answer-modal" class="hidden">
  <p id="preposition-answer"></p>
</div>
<div id="form" class="hidden" >
    <%= form_with(url: skill_path(current_user.id),local: true,class:"score-form",method: :put) do |f| %>
      <div id = "correct-preposition-area"></div>
      <%= f.number_field :preposition_score, autofocus: true,class:"input-default",id:"pre-score" %>
      <%= f.submit "得点を記録する",class:"preposition-score-btn" %>
      <% end %> 
    <%= link_to 'もう一度行う',preposition_skills_path,class:"preposition-once-btn" %> 
  </div>
</div>