<div class="upper-content">
  <%= link_to('トップページに戻る',root_path,class:"top-btn") %>
</div>
<h1 class="image-lists-title">前置詞をイメージで覚えるとある良い効果の例</h1>
<div class="points">
  <ul class="point-lists">
    <li class="point-list">熟語のイメージが湧きやすくなり覚えやすくなる</li>
    <li class="point-list">わからない熟語に出会った時、動詞と前置詞のイメージか掴めていれば大体の意味を想像できる可能性が高くなる</li>
    <li class="point-list">文全体の構造を把握しやすくなる</li>
    <li class="point-list">使い分けが難しい前置詞を根拠を持って使うことができる</li>
  </ul>
</div>
<h1 class="image-lists-title">前置詞イメージ一覧</h1>
<div class="preposition-images">
  <div class="three-prepositions">
    <div class="one-preposition">
      <%= image_tag("above.png",class:"preposition-image") %>
      <h2 class="preposition-name">above</h2>
    </div>
    <div class="one-preposition">
      <%= image_tag("across.png",class:"preposition-image") %>
      <h2 class="preposition-name">across</h2>
    </div>
    <div class="one-preposition">
      <%= image_tag("along.png",class:"preposition-image") %>
      <h2 class="preposition-name">along</h2>
    </div>
  </div>
  <div class="three-prepositions">
    <div class="one-preposition">
      <%= image_tag("among.png",class:"preposition-image") %>
      <h2 class="preposition-name">among</h2>
    </div>
    <div class="one-preposition">
      <%= image_tag("around.png",class:"preposition-image") %>
      <h2 class="preposition-name">around</h2>
    </div>
    <div class="one-preposition">
      <%= image_tag("at.png",class:"preposition-image") %>
      <h2 class="preposition-name">at</h2>
    </div>
  </div>
  <div class="three-prepositions">
    <div class="one-preposition">
      <%= image_tag("behind.png",class:"preposition-image") %>
      <h2 class="preposition-name">behind</h2>
    </div>
    <div class="one-preposition">
      <%= image_tag("below.png",class:"preposition-image") %>
      <h2 class="preposition-name">below</h2>
    </div>
    <div class="one-preposition">
      <%= image_tag("beside.png",class:"preposition-image") %>
      <h2 class="preposition-name">beside</h2>
    </div>
  </div>
  <div class="three-prepositions">
    <div class="one-preposition">
      <%= image_tag("between.png",class:"preposition-image") %>
      <h2 class="preposition-name">berween</h2>
    </div>
    <div class="one-preposition">
      <%= image_tag("by.png",class:"preposition-image") %>
      <h2 class="preposition-name">by</h2>
    </div>
    <div class="one-preposition">
      <%= image_tag("down.png",class:"preposition-image") %>
      <h2 class="preposition-name">down</h2>
    </div>
  </div>
  <div class="three-prepositions">
    <div class="one-preposition">
      <%= image_tag("for.png",class:"preposition-image") %>
      <h2 class="preposition-name">for</h2>
    </div>
    <div class="one-preposition">
      <%= image_tag("from.png",class:"preposition-image") %>
      <h2 class="preposition-name">from</h2>
    </div>
    <div class="one-preposition">
      <%= image_tag("in.png",class:"preposition-image") %>
      <h2 class="preposition-name">in</h2>
    </div>
  </div>
  <div class="three-prepositions">
    <div class="one-preposition">
      <%= image_tag("into.png",class:"preposition-image") %>
      <h2 class="preposition-name">into</h2>
    </div>
    <div class="one-preposition">
      <%= image_tag("near.png",class:"preposition-image") %>
      <h2 class="preposition-name">near</h2>
    </div>
    <div class="one-preposition">
      <%= image_tag("of.png",class:"preposition-image") %>
      <h2 class="preposition-name">of</h2>
    </div>
  </div>
  <div class="three-prepositions">
    <div class="one-preposition">
      <%= image_tag("off.png",class:"preposition-image") %>
      <h2 class="preposition-name">off</h2>
    </div>
    <div class="one-preposition">
      <%= image_tag("on.png",class:"preposition-image") %>
      <h2 class="preposition-name">on</h2>
    </div>
    <div class="one-preposition">
      <%= image_tag("onto.png",class:"preposition-image") %>
      <h2 class="preposition-name">onto</h2>
    </div>
  </div>
  <div class="three-prepositions">
    <div class="one-preposition">
      <%= image_tag("opposite.png",class:"preposition-image") %>
      <h2 class="preposition-name">opposite</h2>
    </div>
    <div class="one-preposition">
      <%= image_tag("over.png",class:"preposition-image") %>
      <h2 class="preposition-name">over</h2>
    </div>
    <div class="one-preposition">
      <%= image_tag("since.png",class:"preposition-image") %>
      <h2 class="preposition-name">since</h2>
    </div>
  </div>
  <div class="three-prepositions">
    <div class="one-preposition">
      <%= image_tag("through.png",class:"preposition-image") %>
      <h2 class="preposition-name">through</h2>
    </div>
    <div class="one-preposition">
      <%= image_tag("to.png",class:"preposition-image") %>
      <h2 class="preposition-name">to</h2>
    </div>
    <div class="one-preposition">
      <%= image_tag("under.png",class:"preposition-image") %>
      <h2 class="preposition-name">under</h2>
    </div>
  </div>
  <div class="three-prepositions">
    <div class="one-preposition">
      <%= image_tag("until.png",class:"preposition-image") %>
      <h2 class="preposition-name">until</h2>
    </div>
    <div class="one-preposition">
      <%= image_tag("up.png",class:"preposition-image") %>
      <h2 class="preposition-name">up</h2>
    </div>
    <div class="one-preposition">
      <%= image_tag("within.png",class:"preposition-image") %>
      <h2 class="preposition-name">within</h2>
    </div>
  </div>
</div>