<div class="rank-title">ランキング</div>
<div class="ranking">
  <div class="one-rank">
    <div class=ranking-name>接頭辞pre-,per-,pro-,pur-</div>
    <div class="rank-space">
      <%= image_tag("gold_medal.png",class:"gold-medal") %>
      <div class="name-score">
        ssさん:100点
      </div>
    </div>
    <div class="rank-space">
      <%= image_tag("silver-medal.png",class:"silver-medal") %>
      <div class="name-score">
        ssさん:100点
      </div>
    </div>
    <div class="rank-space">
      <%= image_tag("blonze-medal.png",class:"blonze-medal") %>
      <div class="name-score">
        ssさん:100点
      </div>
    </div>
  </div>
  <div class="one-rank">
    <div class=ranking-name>接頭辞pre-,per-,pro-,pur-</div>
    <div class="rank-space">
      <%= image_tag("gold_medal.png",class:"gold-medal") %>
      <div class="name-score">
        ssさん:100点
      </div>
    </div>
    <div class="rank-space">
      <%= image_tag("silver-medal.png",class:"silver-medal") %>
      <div class="name-score">
        ssさん:100点
      </div>
    </div>
    <div class="rank-space">
      <%= image_tag("blonze-medal.png",class:"blonze-medal") %>
      <div class="name-score">
        ssさん:100点
      </div>
    </div>
  </div>
</div>

