<!DOCTYPE html>
<html>
  <head>
    <title>Skillup</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    
  </head>

  <body>
    <%= yield %>
    <footer>
      <div class="footer-area">
        <%= image_tag("watermark.png",class:"footer-image") %>
        <p class="footer-title">skillup</p>
      </div>
    </footer>
  </body>
</html>
